<h1>{{title}}</h1>
<div class="container">
  <form [formGroup]="budgetForm">

    <mat-radio-group class="field" formControlName="incomeExpense" aria-label="Select an option">
      <mat-radio-button *ngFor="let option of radioButtonOptions" [value]="option.value" [checked]="option.isChecked">{{option.text}}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="field">
      <mat-label>Cifra</mat-label>
      <input type="number" matInput step="0.01" placeholder="0.00" formControlName="moneyNumber">
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Motivazione</mat-label>
      <textarea matInput placeholder="Motivazione" formControlName="motivation"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="send()">Invia</button>
  </form>

</div>
